:root {
  /* valores padrão (light) */
  --bg-color: #faf6f1;
  --text-color: #222;
  --button-bg: #222;
  --button-text: #faf6f1;
  --bg-color-card: #ffffff;
  --text-color-card: #222;
  --skeleton-bg: #ddd;
  --rating-color: #ffb400;
  --button-hover-bg: #444;
}

body.light {
  --bg-color: #faf6f1;
  --text-color: #222;
  --button-bg: #222;
  --button-text: #faf6f1;
  --bg-color-card: #ffffff;
  --text-color-card: #222;
  --skeleton-bg: #ddd;
  --rating-color: #ffb400;
  --button-hover-bg: #444;
}

body.dark {
  --bg-color: #222;
  --text-color: #faf6f1;
  --button-bg: #faf6f1;
  --button-text: #222;
  --bg-color-card: #333;
  --text-color-card: #faf6f1;
  --skeleton-bg: #555;
  --rating-color: #ffd54f;
  --button-hover-bg: var(--skeleton-bg);
}
